<head>

  <!-- Metadata -->
  <meta source-filename="<%= file %>" />
  <meta source-path="<%= imagePath %>" />
  <meta context="<%= context %>" />
  <meta output-type="<%= projectType %>" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= fileName[0].toUpperCase() + fileName.substring(1, fileName.length) %></title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <%- cssEmbed %>
</head>
