<%#
Template params;
  - package (for homepage & version)
  - file
  - imagePath
  - args
  - fileName
  - code [String]
  - jsEmbed [String]
  - cssEmbed [String]
 %>

<!-- Skeleton Code generated below via CRIMSON prototyping tool <% package.version %> -->
<!-- Tool available at <%= package.homepage %> -->
<!-- Copyright @ Aaron Baw 2018 -->
<!DOCTYPE html>
<html>
  <head>

    <!-- Metadata -->
    <meta source-filename="<%= file %>" />
    <meta source-path="<%= imagePath %>" />
    <meta context="<%= args.context %>" />
    <meta output-type="<%= args.project %>" />

    <title><%= fileName[0].toUpperCase() + fileName.substring(1, fileName.length) %></title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <%- cssEmbed %>
  </head>
  <body>
  <%- code %>

  <div id="source-image-preview" style="
    background-image: url('<%- bgImagePath %>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  " class="meta hidden"></div>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <%- jsEmbed %>
  </body>
</html>
